:root {
    --white-space-factor: 10px;
}

body {
    overflow: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100vw;
    height: 100vh;
}
.layout-container {
    display: grid;
    grid-template-columns: 200px auto;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    height: calc(100vh - 40px);
}
.preview-container {
    padding: 50px 0px;
    display: grid;
    grid-template-rows: 95% auto;
}

.preview-container .preview {
    width: 100%;
    border-radius: calc(var(--white-space-factor) / 2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview-container p {
    text-align: center;
    font-size: large;
    color: #777;
}

.files-container {
    padding: 50px 0px;
    margin-right: var(--white-space-factor);
}

.files-container .file {
    border-radius: calc(var(--white-space-factor) / 2);
    display: grid;
    grid-template-columns: calc(50px + 2 * var(--white-space-factor)) auto;
    align-items: center;
    cursor: pointer;
}

.thumbnail {
    width: calc(100% - calc(var(--white-space-factor) * 2));
    height: 50px !important;
    border-radius: calc(var(--white-space-factor) / 2);
    background-size: cover;
    background-position: center center;
    margin: var(--white-space-factor);
}

.focus {
    background-color: #007AFF;
    color: #fff;
}

.file span {
    user-select: none;
    position: relative;
}

.file.focus span::before {
    background-color: #007AFF;
}

.file span::before {
    background-color: #fff;
    content: attr(data-before);
    white-space: nowrap;
    position: absolute;
    bottom: 0px;
    right: var(--white-space-factor);
    text-overflow: ellipsis;
    overflow: hidden;
    width: var(--file-width);
    direction: rtl;
}